.learn{
  width: 100vw;
  height: 95vh;
}

.learn > h2 {
  font-size: x-large;
}

.learn section {
  width: auto;
}

.userScore {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.wordCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70%
}

.feedback p {
  font-size: larger;
  text-align: center;
}

.feedback h2 {
  font-size: x-large;
}