/* TODO Form css. */

.reg {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.LoginForm {
  width: 80vw;
}

.LoginForm,
.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 0.25em 2em 0.25em 2em;
}

.Label {
}

.Input {
}

.Required {
}

.Textarea {
}
