.dashboard {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.dashboard > div > h2 {
  font-size: x-large;
  text-decoration: none;
}

.dashboard section {
  width: auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  margin-top: 10px;
}

.userInfo a{
  text-decoration: none;
}

.words {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
}

.words > section > h3 {
  color: black;
  font-size: larger;
}

@media all and (max-width: 450px) {
  .userInfo {
    text-align: center;
    width: 50%;
  }

  .words {
    width: 80%;
    height: auto;
  }
}