/* TODO Header css. */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  float: left;
}

.center {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.center a {
  text-decoration: none;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}

@media all and (max-width: 450px) {
  header {
    flex-direction: column;
  }

  .right {
    position: relative;
    text-align: center;
  }
}