.wordCard {
  justify-content: center;
}

.wordCard > span {
  color: black;
  font-size: 8rem;
  padding-bottom: 25px;
}

.wordCard form {
  display: flex;
  flex-direction: column;
}

.wordCard form > label {
  color: black;
}