.wordCard {
  justify-content: center;
}

.wordCard > span {
  color: black;
  font-size: 8vw;
  padding-bottom: 25px;
}

.wordCard svg {
  width: 60vw;
}

.wordCard text {
  padding: 0;
  margin: 0;
}

.wordCard form {
  display: flex;
  flex-direction: column;
}

.wordCard form > label {
  color: black;
}